.DS_Store
.cache/
.gradle/
.idea/
.run/
.scannerwork/
.sonar/
.vscode/
annotationProcessor/
bin/
build/
coverage/
dist/
generated/
kapt/
logs/
node_modules/
out/
src/generated/
src/test/
target/
temp/
tmp/

*.iml
*.log
*.pid
.env
agento-settings.properties
app.env
